header {
    background: url("imagenes/logo.png") no-repeat top left;
    color: black;
    text-align: center;
    font-size: 10px;
    background-color: #16A085;
}

.img1 {
    background-image: no-repeat top left;
    top: 10px;
}

h2 {
    color: #054e40;
    text-align: center;
}

.about {
    text-align: center;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenido {
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: rgb(248, 230, 211);
}

footer {
    background-color: #3E3532;
    color: #C4D8F2;
    font-size: 15px;
    margin-top: 20px;
    position: relative;
    padding: 5px;
    text-align: center;
}

video {
    position: relative;
    margin-left: 45%;
}

#datos{
    background-color: burlywood;
    font-size: medium;
    border: ;
}